dotenv
PROJECT_ID=gen-lang-client-0683974617
REGION=europe-central2

PLAYWRIGHT_MCP_SERVICE_NAME=foral-hre-playwright-mcp
K6_MCP_SERVICE_NAME=foral-hre-k6-mcp
K6_JOB_NAME=foral-hre-k6-runner

PLAYWRIGHT_MCP_API_KEY=
K6_MCP_API_KEY=

PLAYWRIGHT_MCP_PORT=8080
K6_MCP_PORT=8080

ARTIFACT_REGISTRY_REPOSITORY=foral-hre
ARTIFACT_REGISTRY_LOCATION=europe-central2
